/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #212529;
    line-height: 1.6;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/wwliv.webp');
    background-size: cover; /* Adjust size of watermark as needed */
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; /* Adjust opacity to make it look like a watermark */
    z-index: -1; /* Keeps watermark behind all content */
    pointer-events: none; /* Ensures watermark does not interfere with user interaction */
}
/* Navbar Styles */
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-size: 1.5rem;
    color: red
   
}


.navbar-nav .nav-link {
    color: #ddd;
    font-size: 1rem;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color:red;
}

.navbar-nav .nav-link.active {
    color: red
}

/* Content Styles */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #343a40;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-top: 30px;
    color:red;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #495057;
    margin-bottom: 1rem;
}

/* Footer Styles */
footer {
    background-color: #333; /* Dark background for contrast */
    color: white; /* White text color */
    font-size: 0.9rem;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
    margin-top: auto; 
}

footer a {
    color: white; /* Set link color to white */
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: 0.5rem;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: red; /* Change link color on hover */
}

footer p {
    margin: 0.5rem 0;
    color: white; 
}
